html,body {
	height: 100%!important;
	margin: 0!important;
}

header {
	height: 60px!important;
	margin-bottom: 40px !important;
	margin-top: -5px;
}

body {
	display: flex!important;
	flex-direction: column!important;
}

footer {
	margin-top: auto!important;
}

section {
	margin-bottom: 40px;
}

#sectionTemplate{
	width:90%;
}
